html, 
body,
main {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    /* background-color: red; */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border-radius: 5px;
    border: 1px solid red;
    background-color: white;
}

.controls {
    display: grid;
    margin-left: 20px;
}

button {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid red;
    background-color: white;
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: Sans-serif;
    font-size: 20px;
}

button:hover:enabled {
    background-color: #ebebeb;
}
